<md-dialog>
    <form ng-cloak>

        <!-- dialog box title -->
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Intervention: {{id}}</h2>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">

                <!-- display intervention information -->
                <md-input-container class="md-block">
                    <label>Wording</label>
                    <input ng-model="wording">
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Description</label>
                    <input ng-model="description">
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Name</label>
                    <input ng-model="name">
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Speaker</label>
                    <input ng-model="speaker">
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Location</label>
                    <input ng-model="location">
                </md-input-container>
                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Date of Intervention</label>
                                                <md-datepicker ng-model="date_of_intervention"

                                                               md-placeholder="Date"></md-datepicker>
                    </md-input-container>
                </div>


            </div>
        </md-dialog-content>

        <!-- button to close the dialog box -->
        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()">Cancel</md-button>
            <md-button ng-click="updateIntervention()" class="md-primary">Update</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
